.wrapper {
  --contact-avatar-size: 56px;
  --contact-avatar-offset-ratio: 0.7;
  position: relative;
  display: inline-flex;
  padding-right: calc(var(--contact-avatar-size) * var(--contact-avatar-offset-ratio));
}

.fullWidth {
  display: flex;
  width: 100%;
}

.fullWidth > *:last-child {
  flex: 1;
  min-width: 0;
}

.fullWidth .avatar {
  transform: translateY(-50%);
}

.avatar {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(calc(var(--contact-avatar-offset-ratio) * 100%), -50%);
  width: var(--contact-avatar-size);
  height: var(--contact-avatar-size);
  z-index: 1;
}
